@import "tailwindcss";

body {
  color: rgb(33, 33, 33);
  background: #ffffff;
}

/* Custom styles for a more polished look */
*:focus {
  outline: none;
}

img {
  image-rendering: -webkit-optimize-contrast;
}